#file-browser {
    text-decoration: none;
    color: rgb(22, 42, 255);
    border-bottom: 3px dotted rgba(22, 22, 255, 0.85);
}

#file-browser:hover {
    color: rgb(0, 0, 255);
    border-bottom: 3px dotted rgba(0, 0, 255, 0.85);
}

.icons {
    color: #95afc0;
    opacity: 0.55;
}

.css-11iaw3 {
    margin-top: 0 !important;
    min-height: 100vh;
    background-color: #0a0a4a !important;
}