#file-browser {
    text-decoration: none;
    color: rgb(22, 42, 255);
    border-bottom: 3px dotted rgba(22, 22, 255, 0.85);
}

#file-browser:hover {
    color: rgb(0, 0, 255);
    border-bottom: 3px dotted rgba(0, 0, 255, 0.85);
}

.icons {
    color: #95afc0;
    opacity: 0.55;
}

.css-11iaw3 {
    margin-top: 0 !important;
    min-height: 100vh;
    background-color: #0a0a4a !important;
}

.upload-container {
    background-color: rgb(239, 239, 239);
    border-radius: 6px;
    padding: 10px;
    max-width: 600px;
    height: 270px;
    margin: auto;
}

.border-container {
    border: 5px dashed rgba(198, 198, 198, 0.65);
    border-radius: 6px;
    padding: 20px;
    min-height: 250px;
}

.border-container p {
    color: #130f40;
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: -1px;
    margin-top: 30px;
    margin-bottom: 0;
    opacity: 0.65;
}

  .g-signin-upload-container {
    background-color: rgb(239, 239, 239);
    border-radius: 6px;
    padding: 10px;
    margin: auto;
    max-width: 400px; 
    margin-top: 80px;
  }
  
  .g-signin-border-container {
    border-radius: 6px;
    padding: 20px 25px;
  }
  
  .g-signin-border-container span {
    color: #130f40;
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: -1px;
    margin-top: 30px;
    margin-bottom: 0;
    opacity: 0.65;
  }

  .g-img {
    background-image: url('../../assets/google-logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
  }

  .g-signin-btn {
    color: #6b74bf;
    font-weight: 550;
    
  }